node_modules/
public/bundle.js
public/bundle.js.map
public/styles.css
public/styles.css.map
public/dist/
babel.txt
package-lock.zip
xnode_modules.zip
xxbackup.zip
.env.development
.env.test
src/firebase/firebasePlayerground.js